node_modules/
dist/
**/node_modules/
**/dist/
*.log
env.local
.DS_Store
/Astra-Me/other-Repository/
/Astra-Me/docs/
TEMP-AI编程窗口任务交接文档.md
/Astra-Me/
/.qoder/
/.vscode/
/TEMP-QWE/
TEMP-LOG-FLUTTER.MD
TEMP-前端后端终端日志截取-不要编辑这个文件.md
/TEMP/
/other-Repository/
/.trae/
/backend/build/server/
flutter_application/server/

# Docker / Linux Env Temporary Files
**/linux_env/workspace/
**/linux_env/mnt/
**/linux_env/data/
**/*.iso
**/*.vdi
**/*.qcow2

/backend/app/static/reports/
/backend/third_party/ffmpeg/
